<!DOCTYPE HTML> 
<html xmlns:th="https://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Neues Buch anlegen</title>
	</head>
	
	<body>
		<h1>Neues Buch anlegen</h1>
		<p th:text="${greeting}"/>
		
		<form th:action="@{/book/save}" th:object="${bookForm}" method="post">
			<div>
				<label for="speicherort">Speicherort: </label>
				<input type="text" th:field="*{speicherort}" placeholder = "Speicherort" required />
			</div>
			
			<div>
				<label> Dateiname: </label>
				<input type="text" th:field="*{dateiname}" placeholder = "Dateiname"/>
			</div>
			
			<div>
				<label> Dateiendung: </label>
				<input id="dateiendung" type="text" th:field="*{dateiendung}" placeholder = "Dateiendung"/>
			</div>
			
			<button type="submit">Erstellen</button>
			<button type = "reset">Reset</button>
		</form>
		
		<a th:href="@{/}">Zurück zur Übersicht</a>
	</body>
	
</html>