<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head> 
	    <title>Getting Started: Handling Form Submission</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		
		
		<h1>Form</h1>
		<p th:text="${greeting}"/>
		
		<table>
			<thead>
				<tr>
					<th>speicherort</th>
					<th>Dateiname</th>
					<th>Dateiendung</th>
					
					<th>Anzeigen</th>
					<th>Bearbeiten</th>
					<th>Löschen</th>
				</tr>
			</thead>
			
			<!-- <tbody th:if="${not #lists.isEmpty(books)}">  -->
			<tbody>
				<tr>
					<td>Speicherort</td>
					<td>Dateiname</td>
					<td>Dateiendung</td>
					
					<td><a href="/editBook">Anzeigen</a></td>
					<td><a href="/editBook">Bearbeiten</a></td>
					<td><a href="/editBook">Löschen</a></td>
				</tr>
				<tr th:each="book : ${books}">
					<td th:text="${book.id}">ID</td>
					<td th:text="${book.speicherort}">Speicherort</td>
					<td th:text="${book.dateiname}">Dateiname</td>
					<td th:text="${book.dateiendung}">Dateiendung</td>
					
					<td><a href="/showBook">Anzeigen</a></td>
					<td><a href="/editBook">Bearbeiten</a></td>
					<td><a href="/deletBook">Löschen</a></td>
				</tr>
				<tr>
					<td><a href="/newBook">Neues Buch</a></td>
				</tr>
			</tbody>
		</table>
		
		
	</body>
</html>